aiohttp==3.9.5
aiosignal==1.4.0
aiosqlite==0.22.1
asyncpg==0.31.0
attrs==25.4.0
beautifulsoup4==4.12.3
et_xmlfile==2.0.0
frozenlist==1.8.0
idna==3.11
lxml==5.1.0
multidict==6.7.1
numpy==2.4.3
openpyxl==3.1.2
pandas==2.2.2
pandas-stubs==2.2.3.250527
propcache==0.4.1
python-dateutil==2.9.0.post0
pytz==2026.1.post1
six==1.17.0
soupsieve==2.8.3
types-pytz==2026.1.1.20260304
typing_extensions==4.15.0
tzdata==2025.3
yarl==1.23.0
xlrd>=2.0.1